@charset "UTF-8";

body{font-family:"Microsoft yahei";font-size:14px;}
body,dl,dd,p,h1,h2,h3,h4,h5,h6{margin:0;}
ol,ul,li{margin:0;padding:0;list-style:none;}
img{border:none;}
a{text-decoration:none;}
